<template>
    <div class="test">
         hello worlddwdw
    </div>
</template>
<script>
import axios from 'axios'
export default {
    created () {
        axios.get('//localhost:3000/api/shopList?name=test').then(data => {
            console.log(data)
        }).catch(e => {
            console.log(e,'eee')
        })
    },
    data() {
        return {
        }
    },
    computed: {
    },
    components: {
    }
}
</script>
<style lang="less">
    .test{
        color: blue;
    }
</style>


